COGNITO_EMAILS_FROM=noreply@arturceschin-portfolio.com.br
COGNITO_EMAILS_REPLY_TO=support@arturceschin-portfolio.com.br
SES_ARN=arn:aws:ses::identity/arturceschin-portfolio.com.br

DISABLE_API_GATEWAY_ENDPOINT=false
API_DOMAIN_NAME=api.arturceschin-portfolio.com.br
ROUTE53_HOSTED_ZONE_ID=
